html{
    font-size:1rem;
    box-sizing:border-box;
}

*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing:inherit;
}

:root {
    --primary-color:hsl(140, 90%, 42%);
    --secondary-color:hsl(130, 80%, 2%);
    --color-white:#fff;
}

body {
    font:400 100%/160% 'Poppins',sans-serif;
    background-color:var(--color-white);
    padding:1rem;
}

.search__form {     
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:1rem;
}

.form__group {
    justify-self:flex-end;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column;

    label {
        font-family:'Roboto',sans-serif;
        font-size:1.4rem;
        font-weight:500;
    }

    input {
        padding:.4rem;
        font-size:1rem;
        outline:none;
        border-radius:3px;
        font-family:inherit;
        border:none;
        border:1px solid #999;
    }
}

.form__submit__group {
    align-self:flex-end;

    input[type="submit"] {
        display:inline-block;
        padding:.45rem 1rem;
        background-color:var(--primary-color);
        font-family:inherit;
        font-size:1.1rem;
        font-weight:500;
        border:none;
        text-transform:uppercase;
        letter-spacing:1px;
        box-shadow:2px 2px 3px rgba(0,0,0,.5);
        border-radius: 4px;
        transition:transform 150ms ease-out, box-shadow 150ms ease-out;
        
        &:hover,
        &:focus {
            transform:translateY(-4px);
            box-shadow:4px 4px 6px rgba(0,0,0,.4);
            cursor:pointer;
        }
        &:active {
            transform:translateY(-2px);
            box-shadow:3px 3px 3px rgba(0,0,0,.4);
        }
    }


}